@{
    ViewData["Title"] = "Home Page";
}
@model int
<div class="row js_post_table">
    <!-- qui verranno mostrati gli elementi -->
</div>

@section Scripts{

    <script type="text/javascript">

        axios.get(`/api/pizza/detail/${@Model}`).then(res => {
            console.log(res);
            document.querySelector('.js_post_table').innerHTML +=
            `
                <div class="col">
                    <div class="pizza_card">
                            <img src="${res.data.image}" />
                        <span class="line" />
                            <h3>${res.data.title}</h3>
                            <div class="dd"></div>
                            <h5>${res.data.category.title}</h5>
                            <p>${res.data.description}</p>
                        <p><span class="price">${res.data.price}</span></p>
                    
                        </div>
                    </div>
                </div>
            `        
            res.data.ingredients.forEach(ing => {
                document.querySelector('.dd').innerHTML +=
                `<h6>${ing.title}</h6>`
            })
            ;

        }).catch(error => {

            console.log(error);
        })

    </script>
}