@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1>La mia homepage</h1>
</div>


<div class="row js_no_post text-center d-none">
    <div class="col-12">
        <h3>Non hai inserito alcun post</h3>
    </div>
</div>

<div class="row js_post_table d-none">
    <!-- qui verranno mostrati gli elementi -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

<script type="text/javascript">

    axios.get('/api/pizza/get').then(res =>{
        if (res.data.length == 0) {
            document.querySelector('.js_no_post').classList.remove('d-none');
            document.querySelector('.js_post_table').classList.add('d-none');
        } 
        else
        {
            document.querySelector('.js_post_table').classList.remove('d-none');
            document.querySelector('.js_no_post').classList.add('d-none');
            document.querySelector('.js_post_table').innerHTML = '';
            res.data.forEach(pizza => {
                console.log(pizza);
                document.querySelector('.js_post_table').innerHTML +=
                `
                    <div class="col">
                        <div class="pizza_card">
                            <img src="${pizza.image}" />
                            <span class="line" />
                            <h3>${pizza.title}</h3>
                            <h5>${pizza.category.title}</h5>
                            <a href="https://localhost:7058/Home/Detail" >Vedi Dettaglio</a>
                            <p><span class="price">${pizza.price}</span></p>
                            </div>
                        </div>
                    </div>
                `;
            });
        }
    }).catch(error => {
        debugger;
        console.log(error);
    })

</script>
