@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1>La mia homepage</h1>
</div>

<div class="mb-5 search_input">
    <input id="user_search" type="text" class="js_search" list="user_search_list" />
    <datalist id="user_search_list"><option value="42">The answer</option></datalist>
</div>

<div class="row js_no_post text-center d-none">
    <div class="col-12">
        <h3>Non hai inserito alcun post</h3>
    </div>
</div>
<div class="container-fluid text-center pizze_index">
    <div class="row pe-4 align-items-center g-4">
        <div class="row js_post_table d-none">
            <!-- qui verranno mostrati gli elementi -->
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">

        document.querySelector(".js_search").addEventListener('keyup', OnUserInputEvent);

        var timeoutId = null;
        function OnUserInputEvent(e) {
            let query = e.target.value;

            if (timeoutId != null){
                clearTimeout(timeoutId);
            }
        
            timeoutId = setTimeout(() => {
                axios.get('/api/pizza', {
                    params: {
                        title: query
                    }
                }).then(response => {
                    RenderPizzas(response.data);
                }).catch(error => {
                    console.log(error);
                })

            }, 300);
        }
    
        axios.get('/api/pizza').then(res =>{
                RenderPizzas(res.data);
        }).catch(error => {
            debugger;
            console.log(error);
        });
     
        function RenderPizzas(data){
            if (data.length == 0) {
                document.querySelector('.js_no_post').classList.remove('d-none');
                document.querySelector('.js_post_table').classList.add('d-none');
            } 
            else
            {
                document.querySelector('.js_post_table').classList.remove('d-none');
                document.querySelector('.js_no_post').classList.add('d-none');
                document.querySelector('.js_post_table').innerHTML = '';
                document.querySelector('#user_search').innerHTML = '';
                data.forEach(pizza => {
                    console.log(pizza);
                    document.querySelector('.js_post_table').innerHTML +=
                    `
                    <div class="col">
                        <div class="pizza_card card_link">
                            <a href="Home/Detail/${pizza.id}">
                                <img src="${pizza.image}" />
                                <span class="line" />
                                <h3>${pizza.title}</h3>
                                <h5>${pizza.category.title}</h5>
                                <p><span class="price">${pizza.price}$</span></p>
                                </div>
                            </a>
                        </div>
                    </div>               
                    `;
                    document.getElementById('user_search').innerHTML += `<option value="${pizza.id}">${pizza.title}</option>`;
                });
            }
        }

    </script>
}